body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}
.logoLoginDown {
  display: none;
}

.containerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapperLogin {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 46%;
  padding: 20px;
  margin-left: 98px;
  background-color: white;
}

.backgroundContainer {
  background-image: url("./backgroundLogin.png");
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  background-size: contain;
}

.linkRecoverPass {
  color: gray;
  margin-top: 10px;
  cursor: pointer;
}

#passwordLogin {
  margin-top: 15px;
}

.logoLogin {
  width: 280px;
  height: 300px;
  margin-top: 15%;
  margin-left: 15%;
  margin-right: 10%;
}

.title {
  font-size: 50px;
  color: #fc288e;
}

@media (max-width: 1080px) {
  .backgroundContainer {
    background-image: none;
  }

  .wrapperLogin {
    align-items: center;
    width: 100%;
    min-height: 100%;
    margin-left: 0px;
  }

  .logoLoginDown {
    display: block;
    width: 100px;
    height: 100px;
    margin-left: -25%;
  }

  .logoLogin {
    display: none;
  }
}

#buttonLogin {
  margin-top: 40px;
  background: #272454;
  border: rgb(46, 48, 144);
}

#buttonLogin:hover {
  background: #474379;
  transition: background-color 0.7s;
}
